# Node modules
node_modules/
frontend/.next/
frontend/package-lock.json
smart-contracts/package-lock.json

# Python
__pycache__/
*.pyc

# Logs
*.log

# Virtual environments
venv/

# Terraform state files
*.tfstate
*.tfstate.backup

# Expo build
*.expo

# VS Code
.vscode/

# Jupyter notebooks metadata
.ipynb_checkpoints/

# Environment variables
.env
